*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #C08552;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.gestao-container{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
button[name="confirma"]{
    display: flex;
    justify-content: center;

}
h1{
    color: #ffffff;
    margin: 20px;
  }

h2{
    color: #ffffff;
    margin: 20px;
    font-size: 45px;
  }
  input[type="number"] {
    width: 100%; /* Ajustado para caber melhor em telas de tablet */
    height: 10vh;
    margin: 20px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-color: #ffffff;
    border-width: 5px;
    border-radius: 15px 5px 15px 5px;
    font-size: 40px;
    color: #ffffff; /*cor do texto*/
    background: #cccccc;
  }
 
    button[type="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bolder;
    padding: 25px 50px; /* Aumento do tamanho dos botões */
    border: none;
    border-radius: 30px;
    margin: 50px;
    text-decoration: none;
    cursor: pointer;
  }
  button[type="submmit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bolder;
    padding: 25px 50px; /* Aumento do tamanho dos botões */
    border: none;
    border-radius: 30px;
    margin: 50px;
    text-decoration: none;
    cursor: pointer;
  }
  form{
    display: flex;
    flex-direction: column;
  }

  /*-------------------------------------------------*/
  
  .button[id="backBtn"] {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 30px;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .button[id="backBtn"]:before,
  .button[id="backBtn"]:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .button:before {
    border: 4px solid #f0eeef;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button:after {
    border: 4px solid #96daf0;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  
  .button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .button-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #f0eeef;
  }
  
  
  