*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#C08552;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 960px;
}
.infoPrato-container{
    display: flex;
    flex-direction: row;
    background-color: #C08552;
    margin: 14px;
    
    max-height: 750px;
}
img{
    width: 300px;
    height: 300px;
}
.informacao{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background-color: #ce925e;
    max-height: 700px;
    width: 67%;
    border-radius: 30px;
}
h1{
    text-align: center;
}
label[name="ingredientes"]{
    font-size: x-large;
}

/*--------------------------------------------------------*/
button[id="backBtn"] {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin:  0px  0px  0px 15px;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .button[id="backBtn"] {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .button[id="backBtn"]:before,
  .button[id="backBtn"]:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .button:before {
    border: 4px solid #f0eeef;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button:after {
    border: 4px solid #96daf0;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  
  .button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .button-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #f0eeef;
  }