*{
    margin: 0;
    padding: 0;
}
.nav-bar {
    background-color: rgba(94, 48, 35, 1/*0.7*/);
    height: 106px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 10px;
}

.nav-logo {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-left: 27px;
    margin-right: 27px;
}
button[name="compra"]{
padding: 15px;
border-radius: 100%;
}
svg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-label {
    color: #FFFFFF;
    width: 453px;
    height: 70;
    margin-left: 27px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-btn {
    height: 54px;
    width: 250px;
    border-radius: 30px;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-mesa {
    margin-left: 500px;
}


@media (max-width: 900px) {
    .nav-bar {
        height: auto;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        border-radius: 0;
    }

    .nav-label {
        width: auto;
        margin: 10px 0;
    }

    .nav-btn {
        width: 100%;
        margin-top: 10px;
    }

    .nav-mesa {
        margin-left: 0;
    }
}
