*{
    margin: 0;
    padding: 0;
    
}
body{
  
    background-color: #C08552;
    font-family: "Jomhuria", serif;
    width: 1440px;
}
.content{
    display: flex;
    flex-wrap: wrap;
}

.card-container{
    background-color: #faf2e9;
    margin: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 620px;
    
}
.jomhuria-regular {
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
}

.card-name-v, .card-name-b, .card-name-r {
    margin: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    height: 100px;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
}
.card-name-b{
    background-color: #FFD3B6;
    
}
.card-name-r{
    background-color: #CB97FF;
    
}
.card-name-v{
  background-color: #97ffa5;
  
}
label{
    font-size: xx-large;
    margin: 30px;
    align-self: center;
}
p{
    font-size: larger;
    margin: 50px;
    margin-bottom: 15px;
    align-self: baseline;
    display: inline-flex;
}
/*------------------------------CHECKBUTTOM------------------------------------------*/
.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    stroke: var(--accent-color, #000000);
  }
  

  #cbx1:checked + .check svg {
    stroke: var(--accent-color, #000000);
  }
  
  #cbx1:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx1:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
  
  #cbx2:checked + .check svg {
    stroke: var(--accent-color, #000000);
  }
  
  #cbx2:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx2:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
  
  #cbx3:checked + .check svg {
    stroke: var(--accent-color, #000000);
  }
  
  #cbx3:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx3:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }